services:
  azure-setup-manager:
    platform: linux/amd64
    build:
      context: Source
      dockerfile: Dockerfile
    image: azure-setup-manager:latest
    stdin_open: true
    tty: true
    pid: "host"
    container_name: azure-setup-manager
    volumes:
      - ./Source:/Source
      - ./Source/setup:/setup
      - ${HOME}/.azure:/root/.azure
      - ${HOME}/.kube:/root/.kube
      - tmp:/tmp
      - terraform-state:/terraform-state
        
volumes:
  terraform-state:
  tmp: