services:
  aws-setup-manager:
    platform: linux/amd64
    build:
      context: Source
      dockerfile: Dockerfile
    image: aws-setup-manager:latest
    stdin_open: true
    tty: true
    pid: "host"
    container_name: aws-setup-manager
    volumes:
      - ./Source:/Source
      - ./Source/setup:/setup
      - ${HOME}/.aws:/root/.aws
      - ${HOME}/.kube:/root/.kube
      - tmp:/tmp
      - terraform-state:/terraform-state
        
volumes:
  terraform-state:
  tmp: